<div class="container">
    <h2>Update Ministry/Department/Organization</h2>
    <form class="form-horizontal" >
      <div class="form-group">
        <label class="control-label col-lg-4" for="ministry">Ministry : </label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="ministry" placeholder="Enter Ministry Name " name="ministry">
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-lg-4" for="department">Department : </label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="department" placeholder="Enter Department Name " name="department">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-4" for="organization">Organization: </label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="organization" placeholder="Enter Organization Name " name="organization">
        </div>
      </div>

      <div class="form-group">        
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-warning">   update  </button>
        </div>
      </div>
    </form>
</div>